<!DOCTYPE html>
<html>
<head>
  <title>Homework2</title>
  <%= stylesheet_link_tag    "alternate", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "alternate", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>Let's try a different layout here</p>
<%= yield %>

</body>
</html>
